* {
    border: 1px solid black;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    margin: 100px 0px;
}

#screen {
    height: 50px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    margin: 10px 0px;
}

#zero {
    width: 175px;
    border-radius: 40px;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}