* {
    border: 1px solid black;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    margin: 100px 0px;;
}

#screen {
    height: 50px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row, .last-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    width: 350px;
}